<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="../static/stylesheets/style.css">
    <link rel="stylesheet" href="../static/stylesheets/search.css">
</head>
<body>
    <img src="../static/stylesheets/logo.svg" alt="logo">
    <div class="content">
        <h1>Ai Recommendation System</h1>
        <form>
            <p1>Select at least 4 TV Show/Movie Names that you like:</p1><br>
            <input type="text" required><br>
            <p1>Select Languages that you prefer:</p1><br>
            <input type="text" required><br>
            <input type="submit" value="Get Started">
        </form>
    </div>
</body>
</html>
